body {
  background: white;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 65px 300px 360px 380px 60px 360px 50px;
  grid-auto-rows: 100px;
  grid-template-areas: "logo logo data data data data data data data"
                       "img img img img img img img img img"
                       ". planes planes planes planes planes planes planes ."
                       ". apps apps apps apps apps apps apps ."
                       "social social social social social social social social social"
                       "links links links links links links links links links"
                       "footer footer footer footer footer footer footer footer footer";
}

/* ------------------------------------------------- NAVIGATION BAR */

.logo {
  grid-area: logo;
}
.data {
  border: none;
  color: #555555;
  grid-area: data;
  display: inline-flex;
  justify-self: end;
  font-family: 'Product Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}
.data ul {
  height: 100%;
  display: flex;
  justify-self: center;
  align-self: center;
  list-style: none; 
  margin: 0;
  padding: 0;
}
.data li {
  background: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.data li:nth-of-type(6) {
  color: #FFFFFF;
  background:#4386FC;
  padding: 0 22px;
}

/* ------------------------------------------------- LEFT LOGO */

.logo {
  border: none;
  background: white;
  display: flex;
  justify-self: start;
  align-items: center;
  height: 100%;
  padding-left: 18px;
}
.logo span {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #767676;
  margin-left: 4px;
  margin-bottom: 5px;
}
.logo img {
  height: 36px;
  margin-bottom: -3px
}

/* ------------------------------------------------- IMAGEN INTRO */

.img {
  grid-area: img;
}
.img {
  border: none;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 300px;
  box-sizing: border-box;
}
.img img {
  background: url(docs/intro-1600.jpg) 80% 20% no-repeat;
  background-size: 100%;
  display: flex;
  height: 300px;
  width: 100%;
}
.img h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
  bottom: 200px;
}

/* ------------------------------------------------- PLANES */
/* ------------------------------------------------- PERSONAL */
.planes {
  border: none;
  grid-area: planes;
  display: flex;
  justify-content: center;
  margin-top: -100px;
  grid-column-start: 2;
  grid-column-end: span 7;
}

.links {
  border: none;
}

.personal {
  border: none;
  background: white;
  box-shadow: 1px 1.5px 4px 1px rgba(0,0,0,0.1);
  text-align: center;
  width: 450px;
  box-sizing: border-box;
  margin: 5px;
  padding: 30px 25px;
}

.personal h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #767676;
  margin-bottom: 40px;
  margin-top: 0;
}

.personal h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #4C4C4C;
}

.descriptionTitle img {
  height: 35px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: 5px;
}

.descriptionTitle {
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}

.personal p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #555555;
  min-height: 110px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.personal a {
  text-decoration: none;
  color: #4386FC;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 16px 26px;
}

.personal a:nth-of-type(1) {
  background: #4386fc;
  color: white;
}

/* ------------------------------------------------- EMPRESA */

.empresa {
  border: none;
  box-shadow: 1px 1.5px 4px 1px rgba(0,0,0,0.1);
  background: white;
  text-align: center;
  width: 450px;
  box-sizing: border-box;
  margin: 5px;
  padding: 30px 25px;
}

.empresa h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #767676;
  margin-bottom: 40px;
  margin-top: 0;
}

.empresa h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #4C4C4C;
}

.empresa p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #555555;
  min-height: 110px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.empresa a {
  text-decoration: none;
  color: #4386FC;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 16px 26px;
  background: #4386fc;
  color: white;
}

/* ------------------------------------------------- APPS */

.apps {
  border: none;
  grid-area: apps;
  grid-column-start: 2;
  grid-column-end: span 7;
  display: inherit;
  justify-items: center;
  padding: 50px 0 100px;
}

.apps h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #555555;
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}

.apps p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #555555;
  display: block;
  margin: 10px 0;
}

.google-play {
  margin: 10px;
  width: 151px;
}

.appstore {
  margin: 10px;
  width: 151px;
}

.apps-container {
  border: none;
}

/* ------------------------------------------------- SOCIAL */

.social {
  border: none;
  grid-area: social;
  display: inline-flex;
  align-items: center;
  background: #F9F9F9;
}

.social p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14.5px;
  font-weight: 100;
  color: #555555;
  margin: 0 8px 0 1.48%;
}

.social img {
  margin: 4px;
  width: 16px;
  height: 16px;
}

/* ------------------------------------------------- LINKS */

.links {
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  border: none;
  grid-area: links;
  background: #F9F9F9;
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 1.48%;
}


h4 {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 90%;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  justify-items: center;
  display: inline-block;
  margin: 0;
}

.acerca-de li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}

.acerca-de {
  border: none;
  width: 19%;
  margin: 20px 0;
}

.planes-precios {
  border: none;
  width: 19%;
  margin: 20px auto;
}

.planes-precios li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}

.descargas {
  border: none;
  width: 19%;
  margin: 20px auto;
}

.descargas li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}

.asistencia {
  border: none;
  width: 19%;
  margin: 20px auto;
}

.asistencia li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}

.soluciones {
  border: none;
  width: 19%;
  margin: 20px 0;
}

.soluciones li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}


/* ------------------------------------------------- */
.footer {
  grid-area: footer;
}
div {
  border: 1px solid blue;
}

